.vs/
x64/

*.vcxproj.filters
*.vcxproj.user
info.txt
/CubeRearranging
/MapColoring
/QueensPlacing
/Solving Combinatorial Problems with STL and Backtracking.docx
/Listing_2.txt
/Listing_1.txt
/github_personal_token_repo_scope.txt
/github_personal_token_no_scope.txt
/github-recovery-codes.txt
/BackTrack_NEW.h
